#content #incomereport{
	width: 1000px;
	min-height: 500px;
	float: left;
}

#content #incomereport h1{
	background: #e53935;
	color: #fff;
	padding-left: 10px;
}

#content #incomereport select{
	width: 110px;
	height: 30px;
	padding-left: 10px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 15px;
	color: #fff;
	border: none;
	background:  #ff5722;
}

#content #incomereport select option{
	padding-left: 10px;
}

#content #incomereport input[type=submit]{
	width: 100px;
	height: 30px;
	border: none;
	background: #f00;
	cursor: pointer;
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin-left: 15px;
}

#content #incomereport table{
	margin: 20px;
  	border-spacing: 1px; 
  	background: #16A085;
}

#content #incomereport th { 
  color: white;
  padding: 8px; 
}

#content #incomereport table td{
	background: white; 
  	border-collapse: collapse;
  	font-size: 17px;
  	padding: 8px;
  	font-family: "Arial";
}

#content #incomereport table .total{
	font-size: 20px;
}